#!/usr/bin/env bash

set -euo pipefail

yazi_pkgs=(
  "yazi-rs/plugins:full-border"
  "BennyOe/tokyo-night"
)

echo "Start installing yazi packages..."

for package in ${yazi_pkgs[@]}; do
  if ya pkg list | grep -q "$package"; then
    echo "Package already installed: $package"
  else
    ya pkg add "$package"
  fi
done

echo "Finished installing yazi packages..."

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "arch" -}}

echo "Installing keyd configuration..."

KEYD_SOURCE_FILE="{{ .chezmoi.sourceDir }}/root/etc/keyd/default.conf"
KEYD_DEST_FILE="/etc/keyd/default.conf"

if [[ ! -f "$KEYD_SOURCE_FILE" ]]; then
  echo "Error: Source file '$KEYD_SOURCE_FILE' not found."
  exit 1
fi

echo "Copying $KEYD_SOURCE_FILE to $KEYD_DEST_FILE ..."

sudo cp "$KEYD_SOURCE_FILE" "$KEYD_DEST_FILE"

echo "Finished keyd configuration install..." 

echo "Adding current user to libvirt group..."

if ! getent group libvirt >/dev/null; then
  echo "Creating libvirt group..."
  sudo groupadd libvirt
fi

if id -nG "$USER" | grep -qw libvirt; then
  echo "User $USER is already in libvirt group. Nothing to do."
else
  sudo usermod -aG libvirt "$USER"
  echo "User $USER added to libvirt group..."
  echo "⚠️ Please log out and back in (or restart your session) for changes to take effect..."
fi

echo "Completed libvirt setup..."

{{ end -}}
{{ end -}}
