{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash

set  -eufo pipefail

echo -e "Starting setup for Arch Linux packages..."

packages=(
  7zip
  btop
  eza
  fcitx5
  fcitx5-configtool
  fcitx5-gtk
  fcitx5-qt
  fcitx5-mozc-ut
  flatpak
  flatseal
  fzf
  keyd
  ghostty
  github-cli
  imagemagick
  imv
  lazygit
  mise
  mpv
  neovim
  tmux
  ttf-jetbrains-mono
  ttf-jetbrains-mono-nerd
  wireguard-tools
  xdg-desktop-portal
  xdg-desktop-portal-hyprland
  xdg-desktop-portal-gtk
  xdg-desktop-portal-kde
  yazi
  zoxide
)

# Install a package only if missing
install_pkg() {
  local pkg="$1"
  if ! yay -Qi "$pkg" >/dev/null 2>&1; then
    # --needed avoids reinstalling if already present
    echo "Installing $pkg"
    yay -S --needed --noconfirm "$pkg"
  else
    echo "Package $pkg skipped, already present"
  fi
}

for package in ${packages[@]}; do
  install_pkg $package
done

echo "Finished installing Arch Linux packages..."

echo "Installing flatpak and packages..."

if ! flatpak remotes | grep -q '^flathub'; then
  sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
fi

apps=(
  com.yacreader.YACReader
)

for app in "${apps[@]}"; do
  if flatpak info "$app" >/dev/null 2>&1; then
    flatpak update -y --noninteractive "$app"
  else
    sudo flatpak install -y --noninteractive flathub "$app"
  fi
done

if ! flatpak info com.github.tchx84.Flatseal >/dev/null 2>&1; then
  sudo flatpak install -y --noninteractive flathub com.github.tchx84.Flatseal
fi

flatpak update -y --noninteractive --appstream

echo "Finished installing flatpak and packages..."

{{ end -}}
{{ end -}}
