#!/usr/bin/env bash

set -euo pipefail

yazi_pkgs=(
  "yazi-rs/plugins:full-border"
  "BennyOe/tokyo-night"
  "yazi-rs/flavors:catppuccin-mocha"
  "dangooddd/kanagawa"
  "bennyyip/gruvbox-dark"
  "Chromium-3-Oxide/everforest-medium"
  "gosxrgxx/flexoki-dark"
  "Mintass/rose-pine"
  "Mintass/rose-pine-dawn"
  "956MB/vscode-dark-modern"
  "AdithyanA2005/nord"
)

echo "Start installing yazi packages..."

for package in ${yazi_pkgs[@]}; do
  if ya pkg list | grep -q "$package"; then
    echo "Package already installed: $package"
  else
    ya pkg add "$package"
  fi
done

echo "Finished installing yazi packages..."
