[core]
    excludesfile = ~/.gitignore_global
[user]
	name = cvans
	email = icharles@hey.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
